h3{
    color:rgb(1, 1, 27);  
}
body{
    background-color: rgb(173, 215, 241);
    text-align: center;
    font-weight: bold;
}
li{
    font-family: sans-serif;
    text-align: center;
    text-align: inherit;
}

.list-style{
    font: sbold;
    font: italic;
 }
.caixa{
    color: rgb(6, 10, 47);
    display: inline-block;
    vertical-align: top;
    line-height: 50pxS;
    text-align: center;
}

.border{
    border: 3px, solid, black;
}

#font{
    font-family: sans-serif;
}

#linkedln{
    font-family: sans-serif;
}

div{
    font-family: monospace;
}

/*li:hover{
    background-color: rgb(52, 67, 127);
}

li:active{
    color: white;
}

/*ul.border{
    background-color: rgb(102, 100, 136);
}

a:hover{
    background-color: rgb(70, 87, 119);
}

h3{
    background-color: none;
}