h3{
    color:rgb(1, 1, 27);  
}
body{
    background-color: rgb(173, 215, 241);
    text-align: center;
    font-weight: bold;
}
li{
    font-family: fantasy;
    text-align: center;
}  

 li{
    text-align: inherit;
 }
